extends ./components/shared/settings/pug/core/_loyaout.pug

block content 
  header.header
  .header__container
    nav.header__navbar.navbar
      .header__logo.logo
      .header__menu.menu
        button.menu__icon.burger(aria-label='Open menu')
          span
        .menu__body
          ul.menu__list
            li.menu__item
              a.menu__link(href='/')
            li.menu__item
              a.menu__link(href='/')
            li.menu__item
              a.menu__link(href='/')
            li.menu__item
              a.menu__link(href='/')



