//- ---------------------------widgets
include ../../widgets/Header/_index.pug
include ../../widgets/Home-page/_Home-page.pug
include ../../widgets/Store-category/_Store-category.pug
include ../../widgets/Showcase/_Showcase.pug
include ../../widgets/Random-products/_index.pug
include ../../widgets/Footer/_Footer.pug
//- ---------------------------widgets



//- ---------------------------common
include ../../widgets/Modals/_Modals.pug
include ../../shared/ui/project/Basket/_Basket.pug
//- ---------------------------common






//-:______________________________________________________________________________________



