//: --------------------------------------------------------------- INDEX
:root {
  // ! z-index: var(--nine)
  --negative: -1;
  --one: 100;
  --two: 200;
  --three: 300;
  --four: 400;
  --five: 500;
  --six: 600;
  --seven: 700;
  --eight: 800;
  --nine: 900;
  --ten: 1000;
  --titan: 1999;
  --fixed: 9999;
}

//: --------------------------------------------------------------- INDEX
//! 101001010101010010101010100101010100101010101010010101010101010100110


//: --------------------------------------------------------------- ЦВЕТА
:root {

  // -------------------------------------------
  //Основные цвета заднего фона:



  // -----------------------------------------------
  // Основные цвета на сайте:
  --primary-color: #64feda;

  // ------------------------------------------
  // Цвета событий:
  --accent-color: #9c92f3;
  --success-color: #28a745;
  // -------------------------------------------
  // Именнованные цвета:
  // --color-title: #ec7826;
  // --color-tango: #ec7826;



  // ------------------------------


  --color-frolya: #f28b82;





  --color-satin-linen: #e2dbd2;
  --color-venus: #918e91;
  // ----------------------------------------------------------Используеем 


  --color-black: #000000;
  --color-white: #ffffff;

  --BG-default: #0f1924;
  --BG-default-opacity: rgba(29, 29, 36, .7);
  --color-silver: #c0c0c0;
  --color-orange: #eb7434;

  --secondary-color: #9c92f3;
  --color-yellow: #d7bb0f;

  --color-title: #e4a031;


  // ----------------------------------------------
}


//: --------------------------------------------------------------- ЦВЕТА
//! 101001010101010010101010100101010100101010101010010101010101010100110


//: --------------------------------------------------------------- ТЕНИ

:root {

  --box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1),
    0 15px 50px rgba(0, 0, 0, .8);


  --box-shadow-primary: 0 3px 6px rgba(237, 236, 239, 0.3),
    0 -3px 6px rgba(0, 0, 0, 0.3),
    0 3px 12px rgba(0, 0, 0, 0.3);

}

//: --------------------------------------------------------------- ТЕНИ

//! 101001010101010010101010100101010100101010101010010101010101010100110



//: --------------------------------------------------------------- Переходы 
:root {

  --transition-33s: all .33s ease;
  --transition-66s: all .66s ease;
}

//: --------------------------------------------------------------- Переходы


//: --------------------------------------------------------------- SPACE
:root {
  --gap: 30px;
  --secondory-gap: 15px;
  --margin-bottom: 30px;
}

//: --------------------------------------------------------------- SPACE
//! 101001010101010010101010100101010100101010101010010101010101010100110


:root {
  --text-shodow-default: 5px 5px 5px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 5px #000
}




//: --------------------------------------------------------------- Экспериментально
:root {
  --index-screen: calc((1vw + 1vh));
  --galery-gap: calc(var(var(--index-screen) * 2));
}


//: --------------------------------------------------------------- Экспериментально
//! 101001010101010010101010100101010100101010101010010101010101010100110